.card {
  box-sizing: border-box;
  display: flex;
  width: 26.5vw;
  // height: 35vh;

  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 2px rgb(212, 208, 208);
  cursor: pointer;

  img {
    border-radius: 10px;
    width: 23vw;
    height: 33vh;
  }
  span {
    font-weight: 500;
  }
}

@media screen and (min-width: 1701px) {
  .card {
    width: 28.5vw;

    img {
      width: 27vw;
    }
  }
}

@media screen and (min-width: 1526px) and (max-width: 1700px) {
  .card {
    width: 28vw;

    img {
      width: 26vw;
    }
  }
}

@media screen and (min-width: 1420px) and (max-width: 1525px) {
  .card {
    width: 27.8vw;

    img {
      width: 26vw;
    }
  }
}

@media screen and (min-width: 1317px) and (max-width: 1421px) {
  .card {
    width: 27vw;

    img {
      width: 25vw;
    }
  }
}

@media screen and (min-width: 1133px) and (max-width: 1200px) {
  .card {
    width: 26vw;

    img {
      width: 23vw;
    }
  }
}

@media screen and (min-width: 918px) and (max-width: 1132px) {
  .card {
    width: 42vw;

    img {
      width: 40vw;
    }
  }
}

@media screen and (min-width: 765px) and (max-width: 917px) {
  .card {
    width: 40vw;

    img {
      width: 38vw;
    }
  }
}

@media screen and (min-width: 670px) and (max-width: 764px) {
  .card {
    width: 38vw;

    img {
      width: 36vw;
    }
  }
}

@media screen and (min-width: 618px) and (max-width: 669px) {
  .card {
    width: 37vw;

    img {
      width: 35vw;
    }
  }
}

@media screen and (min-width: 542px) and (max-width: 617px) {
  .card {
    width: 84vw;

    img {
      width: 82vw;
    }
  }
}

@media screen and (min-width: 482px) and (max-width: 541px) {
  .card {
    width: 81vw;

    img {
      width: 79vw;
    }
  }
}

@media screen and (max-width: 481px) {
  .card {
    width: 78vw;

    img {
      width: 74vw;
    }
  }
}
