.my-projects {
  height: 65vh;
  padding: 30px;

  h1 {
    // font-size: 45px;
    padding-left: 10px;

    padding-bottom: 20px;
    background: linear-gradient(
      to right,
      rgb(53, 49, 49),
      rgb(131, 131, 119),
      rgb(55, 59, 61),
      rgb(128, 128, 115),
      rgb(63, 55, 55)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (min-width: 790px) and (max-width: 1200px) {
  .my-projects {
    height: fit-content;
    padding: 0px;
  }
}

@media screen and (max-width: 789px) {
  .my-projects {
    height: fit-content;
    padding: 10px;
  }
}
