footer {
  display: flex;
  background-color: rgb(230, 233, 231);
  box-shadow: 0 1px 6px 1px rgb(206, 197, 197);
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  padding: 25px 40px;
  color: rgb(63, 59, 59);

  .logo {
    transition: all 0.2s ease-in-out;
    h3 {
      font-family: "Source Code Pro", lora, monospace;
      font-size: 20px;
      font-weight: 600;
    }
    &:hover {
      transform: rotateY(20deg);
    }
  }

  .footer-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 503px) {
  footer {
    flex-direction: column;
    // gap: 2px;

    .logo {
      h3 {
        font-size: 10px;
      }
    }

    .footer-text {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 590px) {
  footer {
    .logo {
      h3 {
        font-size: 16px;
      }
    }

    .footer-text {
      font-size: 16px;
    }
  }
}
