.slider {
  .cards {
    display: flex;
    gap: 75px;
    width: fit-content;
    padding: 20px 10px 20px 15px;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
  }

  .cards-slider-btns {
    display: flex;
    gap: 5px;
    cursor: pointer;
    float: right;
    padding: 5px 15px 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    .cards {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      width: 100vw;
      // flex-direction: column;
    }

    .cards-slider-btns {
      display: none;
    }
  }
}
