.slider {
  .cards {
    display: flex;
    gap: 75px;
    width: fit-content;
    padding: 20px 10px 20px 15px;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
  }

  .cards-slider-btns {
    display: flex;
    gap: 5px;
    cursor: pointer;
    float: right;
    padding: 5px 0 0 0;
  }
}
